<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <style>
    h1 {
      text-align: center;
    }

    p {
      text-align: center;
    }

    div {
      text-align: center;
    }
  </style>
  <meta charset="utf-8">
  <title>Project 2</title>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}

  <h1>PPP Loans Under $150k in VA</h1>
  <p>For this assignment we look at PPP loans under $150k
    in the state of Virginia. The loans were broken down by amount, congressional district and business type
    based on NAICS codes.</p>


  <center> <iframe
      src="https://onedrive.live.com/embed?cid=ED79CE792C751400&amp;resid=ED79CE792C751400%2116522&amp;authkey=ALJyAqlUXTy6tmk&amp;em=2&amp;wdAr=1.7777777777777777"
      width="962px" height="565px" frameborder="0">This is an embedded <a target="_blank"
        href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank"
        href="https://office.com/webapps">Office</a>.</iframe>
  </center>
  {% endblock %}
</body>

</html>