<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project 2</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">

  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Project 2</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('pie') }}">Pie Chart</a></li>
            <li><a href="{{ url_for('bar') }}">Bar Chart</a></li>
            <li><a href="{{ url_for('map') }}">Interactive Map</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

    {% block content %}
    {% endblock %}

  </body>
</html>
